<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1>complete your data first asshole!</h1>
  <body>
    <form action="/completionform" method="POST">
      name:<br>
      <input type="text" name="name">
      <br>
      address:<br>
      <input type="text" name="address"><br>
      telp:<br>
      <input type="text" name="telp">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
