<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>LOGIN</h1>
     <a href="/login/seller">login as seller</a>
     <a href="/login/user">login as user</a> 
  </center>
  </body>
</html>
