<!DOCTYPE html>
<html>
<body>

<h2>register AS Seller</h2>

<form method="post">
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <select name = "Status">
  <option value="seller">seller</option>
  <option value="user">user</option>
  <br> <br>
 </select>
 <br> <br>
 <input type="submit" value="Submit">
</form>

</body>
</html>
