<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>Register</h1>
     <a href="/register/seller">register as seller</a>
     <a href="/register/user">register as user</a>
  </center>
  </body>
</html>
