<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>LOGIN</h1>
     <h2><a href="/login/seller">Seller Login</a> <a href="/login/user">User Login</a> </h2>
  </center>
  </body>
</html>
