<!DOCTYPE html>
<html>
<body>

<h2>Input your Email and Password</h2>

<form action="/login/seller" method="post">
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
